{% extends 'base.html' %}
 {% load static %}
 {% block content %}

     <div class="min-vh-100 d-flex align-items-center">
         <div class="splash-container">
             <div class="card shadow-sm">
                 <div class="card-header text-center">
                    <h3>Change Password</h3>
                 </div>
                 <div class="card-body">
                     <form method="POST">
                         {% csrf_token %}
                         <div class="form-group mb-2">
                             <input class="form-control" id="password1" name="new_password" type="password" placeholder="New Password">
                         </div>
                         <div class="form-group mb-2">
                             <input class="form-control" id="password2" name="re_new_password" type="password" placeholder="Confirm Password">
                         </div>
                         <div class="form-group mb-2">
                             <input class="form-control" id="current_password" name="current_password" type="password" placeholder="Current Password">
                         </div>
                         <button type="submit" class="btn btn-primary btn-lg btn-block">Save
                         </button>
                         <a href="{% url 'home:home_page' %}" class="btn btn-warning btn-lg btn-block">Cancel</a>
                          </form>
                 </div>

            </div>
        </div>
    </div>
{% endblock %}